html {
    font-size: 40px;
    background: #EBF5FB;
}

body {
    color: #2874A6;
    font-size: 20px;
    font-family: sans-serif;
    line-height: 1.5;
}

a,
a:visited {
    color: #3498DB;
    font-style: italic;
    font-size: 15px;
}

header {
    background-color: #EBF5FB;
/*
    border-bottom: 0.5px solid #D6EAF8;
    border-top: 0.5px solid #D6EAF8;
*/
    color: #85C1E9;
    font-family: cursive;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

header h1 {
    margin-left: 20px;
}

#content {
    margin-top: 120px;
    margin-left: 20px;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-column-gap: 20px;
}

nav {
    border: 2px solid #AED6F1;
    border-top: 2px solid #AED6F1;
    background-color: #D6EAF8;
    width: 300px;
    height: 160px;
}

h2 {
    margin-top: 3px;
    margin-bottom: 5px;
    margin-left: 75px;
    font-size: 30px;
}

p {
    margin-top: 0px;
    margin-left: 75px;
    font-size: 15px;
}
