html {
    font-size: 25px;
/*    background: #f3faff;*/
    background: #EBF5FB;
}

body {
    color: #2874A6;
    font-size: 15px;
    font-family: sans-serif;
    line-height: 1.5;
}

a,
a:visited {
    color: #3498DB;
    font-style: oblique;
    font-size: 15px;
    padding: 10px;
    position: absolute;
}

header {
    background-color: #EBF5FB;
/*
    border-bottom: 1px solid #D6EAF8;
    border-top: 1px solid #D6EAF8;
*/
    color: #85C1E9;
    font-family: cursive;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

header h1 {
    font-size: 25px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#content {
    position: absolute;
    margin-top: 100px;
    margin-left: 10px;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-column-gap: 20px;
}

nav {
    border: 2px solid #AED6F1;
    background-color: #D6EAF8;
    height: 42px;
    width: 175px;
    margin-top: -35px;
}

h2 {
    margin-top: -35px;
    margin-bottom: 5px;
    padding: 0px;
    font-size: 30px;
}

p {
    margin: 0px;
    font-size: 15px;
}

/* interactive bar chart */
